main {
    background-color: #ebebeb;
    width: 80%;
    margin: 50px auto 50px auto;
    max-width: 960px;
    padding: 50px;
    border-radius: 50px;
}

header {
    font-size: 40px; 
    color: rgb(250, 3, 3);
    font-weight: bold;

}

.destaque {
    width: 100%;
    max-width: 800px;
    margin: 0 auto 0 auto;
    display: block;
}

body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-family: 'Rajdhani', sans-serif;;
}

footer img {
    width: 40px;
    margin: 0 10px;

    
}

footer {
    width: 960px;
    text-align: center;
    border-top: 1px #eededb;
    padding-top: 20px;
    margin: 0 auto 50px auto;
}